body {
	background-image: url('../img/simulateur-notes-bac.png');
	background-repeat: no-repeat;
    background-size: 100%;
	text-align: center;
}

form {
	margin: auto;			
	border: 2px solid red;
	background-color:#FAFAFA;
	padding:10px;
	width:350px;
	font:bold 24px Arial;
}

input {
	font: 24px Arial;
}
 
h1 {
	background-color:#b46e04;
	font:bold 
}

.boutonJS {
	border:none;
	padding:6px;
	border-radius:8px;
	background:#31B404;
	font:bold 20px Arial;
	color:#fff;
}

#idIMC {
	font: 24px Arial;
}